<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<groups>
<run>
<include name="smoke"></include></run>
</groups>
  <test thread-count="5" name="SmokeTest" parallel="tests">
    <classes>
      <class name="package1.Program1Test"/>
      <class name="package1.Pgm2Test"/>
    </classes>
  </test> <!-- SmokeTest -->
</suite> <!-- Suite -->
